div{
	background: yellow;
	width: 200px;
	height: 50px;
}
.span1{
	background: red;
}
.span2{
	background: green;
	margin:20px; /*no funciona margen superior ni inferior*/
}
.span3{
	background: blue;
}